<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Isert Email">
    <input type="password" name="password" placeholder="Insert Password">
    
    <button type="submit">
        Signup
    </button>
</form>